Database Testing Console/obj/Database Testing Console.csproj.nuget.dgspec.json
Database Testing Console/obj/Database Testing Console.csproj.nuget.g.props
Database Testing Console/obj/Database Testing Console.csproj.nuget.g.targets
Database Testing Console/obj/project.assets.json
Database Testing Console/obj/project.nuget.cache
Database Testing Console/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Database Testing Console/obj/Debug/net5.0/Database Testing Console.AssemblyInfo.cs
Database Testing Console/obj/Debug/net5.0/Database Testing Console.AssemblyInfoInputs.cache
Database Testing Console/obj/Debug/net5.0/Database Testing Console.assets.cache
Database Testing Console/obj/Debug/net5.0/Database Testing Console.csproj.CoreCompileInputs.cache
Database Testing Console/obj/Debug/net5.0/Database Testing Console.csproj.FileListAbsolute.txt
Database Testing Console/obj/Debug/net5.0/Database Testing Console.csprojAssemblyReference.cache
Database Testing Console/obj/Debug/net5.0/Database Testing Console.dll
Database Testing Console/obj/Debug/net5.0/Database Testing Console.GeneratedMSBuildEditorConfig.editorconfig
Database Testing Console/obj/Debug/net5.0/Database Testing Console.genruntimeconfig.cache
Database Testing Console/obj/Debug/net5.0/Database Testing Console.pdb
Database Testing Console/obj/Debug/net5.0/ref/Database Testing Console.dll
Database Testing Console/bin/Debug/net5.0/Database Testing Console.deps.json
Database Testing Console/bin/Debug/net5.0/Database Testing Console.dll
Database Testing Console/bin/Debug/net5.0/Database Testing Console.pdb
Database Testing Console/bin/Debug/net5.0/Database Testing Console.runtimeconfig.dev.json
Database Testing Console/bin/Debug/net5.0/Database Testing Console.runtimeconfig.json
Database Testing Console/bin/Debug/net5.0/ref/Database Testing Console.dll
.vscode/solution-explorer/class.cs-template
.vscode/solution-explorer/class.ts-template
.vscode/solution-explorer/class.vb-template
.vscode/solution-explorer/default.ts-template
.vscode/solution-explorer/enum.cs-template
.vscode/solution-explorer/interface.cs-template
.vscode/solution-explorer/interface.ts-template
.vscode/solution-explorer/template-list.json
.vscode/solution-explorer/template-parameters.js
StorageEngine/obj/project.assets.json
StorageEngine/obj/project.nuget.cache
StorageEngine/obj/StorageEngine.csproj.nuget.dgspec.json
StorageEngine/obj/StorageEngine.csproj.nuget.g.props
StorageEngine/obj/StorageEngine.csproj.nuget.g.targets
Database Testing Console/bin/Debug/net5.0/StorageEngine.dll
Database Testing Console/bin/Debug/net5.0/StorageEngine.pdb
Database Testing Console/obj/Debug/net5.0/Database Testing Console.csproj.CopyComplete
StorageEngine/bin/Debug/net5.0/StorageEngine.deps.json
StorageEngine/bin/Debug/net5.0/StorageEngine.dll
StorageEngine/bin/Debug/net5.0/StorageEngine.pdb
StorageEngine/bin/Debug/net5.0/ref/StorageEngine.dll
StorageEngine/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
StorageEngine/obj/Debug/net5.0/StorageEngine.AssemblyInfo.cs
StorageEngine/obj/Debug/net5.0/StorageEngine.AssemblyInfoInputs.cache
StorageEngine/obj/Debug/net5.0/StorageEngine.assets.cache
StorageEngine/obj/Debug/net5.0/StorageEngine.csproj.CoreCompileInputs.cache
StorageEngine/obj/Debug/net5.0/StorageEngine.csproj.FileListAbsolute.txt
StorageEngine/obj/Debug/net5.0/StorageEngine.csprojAssemblyReference.cache
StorageEngine/obj/Debug/net5.0/StorageEngine.dll
StorageEngine/obj/Debug/net5.0/StorageEngine.GeneratedMSBuildEditorConfig.editorconfig
StorageEngine/obj/Debug/net5.0/StorageEngine.pdb
StorageEngine/obj/Debug/net5.0/ref/StorageEngine.dll
Database Testing Console/Data_movie.json
Database Testing Console/Data_testcollection.json
Database Testing Console/movies_test.json
Database Testing Console/Offset_movie.json
Database Testing Console/Offset_testcollection.json
StorageEngineWeb/bin/Debug/net5.0/appsettings.Development.json
StorageEngineWeb/bin/Debug/net5.0/appsettings.json
StorageEngineWeb/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
StorageEngineWeb/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
StorageEngineWeb/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
StorageEngineWeb/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
StorageEngineWeb/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
StorageEngineWeb/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
StorageEngineWeb/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
StorageEngineWeb/bin/Debug/net5.0/Microsoft.OpenApi.dll
StorageEngineWeb/bin/Debug/net5.0/StorageEngine.dll
StorageEngineWeb/bin/Debug/net5.0/StorageEngine.pdb
StorageEngineWeb/bin/Debug/net5.0/StorageEngineWeb.deps.json
StorageEngineWeb/bin/Debug/net5.0/StorageEngineWeb.dll
StorageEngineWeb/bin/Debug/net5.0/StorageEngineWeb.pdb
StorageEngineWeb/bin/Debug/net5.0/StorageEngineWeb.runtimeconfig.dev.json
StorageEngineWeb/bin/Debug/net5.0/StorageEngineWeb.runtimeconfig.json
StorageEngineWeb/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
StorageEngineWeb/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
StorageEngineWeb/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
StorageEngineWeb/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
StorageEngineWeb/bin/Debug/net5.0/ref/StorageEngineWeb.dll
StorageEngineWeb/obj/project.assets.json
StorageEngineWeb/obj/project.nuget.cache
StorageEngineWeb/obj/StorageEngineWeb.csproj.nuget.dgspec.json
StorageEngineWeb/obj/StorageEngineWeb.csproj.nuget.g.props
StorageEngineWeb/obj/StorageEngineWeb.csproj.nuget.g.targets
StorageEngineWeb/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.AssemblyInfo.cs
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.AssemblyInfoInputs.cache
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.assets.cache
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.csproj.CopyComplete
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.csproj.CoreCompileInputs.cache
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.csproj.FileListAbsolute.txt
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.csprojAssemblyReference.cache
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.dll
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.GeneratedMSBuildEditorConfig.editorconfig
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.genruntimeconfig.cache
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.MvcApplicationPartsAssemblyInfo.cache
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.MvcApplicationPartsAssemblyInfo.cs
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.pdb
StorageEngineWeb/obj/Debug/net5.0/StorageEngineWeb.RazorTargetAssemblyInfo.cache
StorageEngineWeb/obj/Debug/net5.0/ref/StorageEngineWeb.dll
StorageEngineWeb/obj/Debug/net5.0/staticwebassets/StorageEngineWeb.StaticWebAssets.Manifest.cache
StorageEngineWeb/obj/Debug/net5.0/staticwebassets/StorageEngineWeb.StaticWebAssets.xml
StorageEngineWeb/Offset_movies.json
StorageEngineWeb/Data_movies.json
StorageEngineWeb/obj/Debug/net5.0/project.razor.json
StorageEngineWeb/bin/Debug/net5.0/Data_movies.json
StorageEngineWeb/bin/Debug/net5.0/Offset_movies.json
Coordinator/bin/Debug/net5.0/appsettings.Development.json
Coordinator/bin/Debug/net5.0/appsettings.json
Coordinator/bin/Debug/net5.0/Coordinator.deps.json
Coordinator/bin/Debug/net5.0/Coordinator.dll
Coordinator/bin/Debug/net5.0/Coordinator.pdb
Coordinator/bin/Debug/net5.0/Coordinator.runtimeconfig.dev.json
Coordinator/bin/Debug/net5.0/Coordinator.runtimeconfig.json
Coordinator/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
Coordinator/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
Coordinator/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
Coordinator/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
Coordinator/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
Coordinator/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Coordinator/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
Coordinator/bin/Debug/net5.0/Microsoft.OpenApi.dll
Coordinator/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
Coordinator/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Coordinator/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Coordinator/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
Coordinator/bin/Debug/net5.0/ref/Coordinator.dll
Coordinator/obj/Coordinator.csproj.nuget.dgspec.json
Coordinator/obj/Coordinator.csproj.nuget.g.props
Coordinator/obj/Coordinator.csproj.nuget.g.targets
Coordinator/obj/project.assets.json
Coordinator/obj/project.nuget.cache
Coordinator/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Coordinator/obj/Debug/net5.0/Coordinator.AssemblyInfo.cs
Coordinator/obj/Debug/net5.0/Coordinator.AssemblyInfoInputs.cache
Coordinator/obj/Debug/net5.0/Coordinator.assets.cache
Coordinator/obj/Debug/net5.0/Coordinator.csproj.CopyComplete
Coordinator/obj/Debug/net5.0/Coordinator.csproj.CoreCompileInputs.cache
Coordinator/obj/Debug/net5.0/Coordinator.csproj.FileListAbsolute.txt
Coordinator/obj/Debug/net5.0/Coordinator.csprojAssemblyReference.cache
Coordinator/obj/Debug/net5.0/Coordinator.dll
Coordinator/obj/Debug/net5.0/Coordinator.GeneratedMSBuildEditorConfig.editorconfig
Coordinator/obj/Debug/net5.0/Coordinator.genruntimeconfig.cache
Coordinator/obj/Debug/net5.0/Coordinator.MvcApplicationPartsAssemblyInfo.cache
Coordinator/obj/Debug/net5.0/Coordinator.MvcApplicationPartsAssemblyInfo.cs
Coordinator/obj/Debug/net5.0/Coordinator.pdb
Coordinator/obj/Debug/net5.0/Coordinator.RazorTargetAssemblyInfo.cache
Coordinator/obj/Debug/net5.0/project.razor.json
Coordinator/obj/Debug/net5.0/ref/Coordinator.dll
Coordinator/obj/Debug/net5.0/staticwebassets/Coordinator.StaticWebAssets.Manifest.cache
Coordinator/obj/Debug/net5.0/staticwebassets/Coordinator.StaticWebAssets.xml
